@using X.PagedList.Mvc.Core;
@using ThucHanhWebMVC.Models;
@model X.PagedList.IPagedList<TMauSac>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "MauSac";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>MauSac</h1>

<p>
    <a asp-action="ThemMauSac">Create New</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên Màu Sắc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenMauSac)
            </td>
            <td>
                    <a asp-action="SuaMauSac" asp-route-maMauSac="@item.MaMauSac">Edit</a> |
                    <a asp-action="XoaMauSac" asp-route-maMauSac="@item.MaMauSac">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page=>Url.Action("MauSac", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    })

