@using X.PagedList.Mvc.Core;
@using ThucHanhWebMVC.Models;
@model X.PagedList.IPagedList<TUser>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "TaiKhoan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>TaiKhoan</h1>

<p>
    <a asp-action="ThemTaiKhoan">Create New</a>
</p>
<p>@TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <td>
                Tài Khoản
            </td>
            <th>
                Mật Khẩu
            </th>
            <th>
                Loại Tài Khoản
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
@foreach (var item in Model) {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiUser)
            </td>
            <td>
                <a asp-action="SuaTaiKhoan" asp-route-tentaikhoan="@item.Username">Edit</a> |
                
                    <a asp-action="XoaTaiKhoan" asp-route-tentaikhoan="@item.Username">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page=>Url.Action("XuatXu", new {page = page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    })
